body{
    font-family: "Times New Roman", Times, serif;   
    font-size: 30px; 
    text-align: justify;
    padding: 10px 30px 10px 30px;
      
}
h1{
    color: red;
    font-size: 25px;
    line-height: 0.5;
}
h5{
    font-size: 20px;
    line-height: 0.3;
}
p,ol{
    font-size: 18px;
    
}

div{
    text-align: center;
}
